/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Meyer reset */

/*
CSS for TheGregThomas.com
*/

html{
  height: 100%;
}

@font-face {
    font-family: 'code_lightregular';
    src: url('code_light-webfont.eot');
    src: url('code_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('code_light-webfont.woff') format('woff'),
         url('code_light-webfont.ttf') format('truetype'),
         url('code_light-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@viewport {
    width: extend-to-zoom;
}

#header {
	background-color: #000000;
  height: 75px; /*75/1050 with correction for scroll (85px w scroll) */
  padding: 0 0 0 25px;
  margin-top: 30px;
}

li.logo img {
  width: 150px;
}

li.logo {
  margin: -60px 50px 0 0;
}

li.logo a:hover {
  opacity: .8;
}


/*
#logo {
position: absolute;
display: block;
width: 180px;
height: 180px;
left: 1400px;
top: 0px;

}
*/

body.home {
  background-color: #666060;
  background-image: url(mebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: code_lightregular, Verdana, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  line-height: 150%;
  padding: 0; 
  border: 0;
  height: 100%;
}

#navigation {
  font-size: 1.25em; /*20 / 16 */
  font-weight: bold;
  color: white;
  float: right;
  margin: 25px 0 0 0;
  height: 0px;
}

#nav li {
  float: left;
}

#navigation a {
  font-weight: bold;
  display: block;
  width: 100px;
}

#navigation a:link {
  color: white;
  text-decoration: none;
}


#navigation a:visited {
  color: white;
  text-decoration: none;
}


#navigation a:hover {
  text-decoration: none;
  color: #cccccc;
  background-color: none;
}

#navigation a:active {
  color: white;
  background-color: white;
}

#subnav {
  background-color: black; /* for IE */
  background-color: rgba(0,0,0,.5);
  height:45px;
  margin-bottom: 20px;
  padding: 1px;
}

#social {
  background-color: 0;
  color: white;
  bottom: 8px;
  left: 0px;
  padding: 0px;
}

#social li:hover {
  opacity: .8;
}

#social ul {
  list-style-type: none;
  margin-top: 8px;
  margin-left: 23px;
}

#social li {
  display: inline;
  float: left;
  display: block;
  width: 50px;
}


#signup {
  display: block;
  font-size:14px;
  font-family: code light, verdana, helvetica, sans-serif;
  color: white;
  padding-right: 143px;
  height: 30px;
  width: 315px;
  margin: -44px 0 0 0px;
  bottom: 20px;
  float: right;
  clear: left;
}

#inputs {
  float: left;
}


input.email {
 font-size: .75em; /* 12 / 16 */
 padding: .6em 2em;
}

input.button {
border: none;
background: linear-gradient(#680303, #8F2A2A);
text-transform: uppercase;
color: #fff;
border-radius: 2px;
padding: .75em 2em;
font-size: .75em; /* 12 / 16 */
cursor: pointer;
letter-spacing: 2px;
}

input.button:hover {
  background: linear-gradient(#8F2A2A, #680303);
  color: #fff;
}
 
#content-listen, 
#content-contact {
  background-color: black; /* For IE */
  background: rgba(0,0,0,.5);
  border-radius: 2px;
  color: white;
  font-size: 1em;
  margin: 3.5714286% auto; /* 60 / 1680 */
  padding: 2.3809524%; /* 40 / 1680 */
  width: 85em;
  min-height: 400px; /* 400 / 1680 */
}

#content {
  background-color: black; /* For IE */
  background: rgba(0,0,0,.5);
  border-radius: 2px;
  color: white;
  font-size: 1em;
  margin: 3.5714286% auto; /* 60 / 1680 */
  padding: 2.3809524%; /* 40 / 1680 */
  width: 56.845238%; /*955 / 1680 */
  min-width: 480px;
  min-height: 400px; /* 400 / 1680 */
}

#content a, 
h1 a {
  font-weight: bold;
  display: inline;
}

#content a:hover {
  text-decoration: none;
  color: #A52A2A;
  background-color: none;
}

#content a:link, 
#content-contact a:link, 
h1 a:link {
  color: white;
  text-decoration: none;
}

#content a:visited,
#content-contact a:visited, 
h1 a:visited {
  color: white;
  text-decoration: none;
}


#content-contact a:hover, 
h1 a:hover {
  text-decoration: none;
  color: #cccccc;
  background-color: none;
}

#content a:active,
#content-contact a:active, 
h1 a:active {
  color: white;
  background-color: white;
}

#content-video {
  width: 92.307692%; /* 960/1049 */
}

#content h2 {
  font-size: 1.5em; /* 24 / 16 */
  display: block;
  text-align: center;
  padding-top: 20px;
}

#content h3 {
  font-size: 1.5em; /* 24 / 16 */
  display: block;
  text-align: left;
  padding-top: 20px;
}

#content iframe {
  padding-left: 5.555556%; /* 50 / 900 */
  max-width: 100%;
}

#content-contact img {
  width: 43.269231%; /*450 / 1040 */
  float: left;
}

#contact-links {
  display: block;
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: .2em;
  font-weight: 100;
  float: right;
  margin-right: 225px; /* 225 / 1040 */ 
}

#content, #players p {
  letter-spacing: 0.2em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 2em; /*32 / 16 */
  color: white;
  float: left;
  margin-top: 1.571429%;
  height: 4.5714286%;
}

ul {
  list-style-type: none;
  margin: 0px;
}

li {
  display: inline;
  float: left;
  display: block;
  width: 100px;
}

#albums ul {
  list-style-type: none;
}

#albums li {
  display: inline;
  float: left;
  display: block;
  position: relative;
  width: 350px;
  padding: 25px
}

#albumblock {
  background-color: rgba(0,0,0,.5);
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 65em;
  height: 450px;
}

#albums p {
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: .2em;
  font-weight: 100;
  padding-bottom: 10px;
  color: white;
}

#players {
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#galleryphoto {
  padding: 0;
  list-style: none;
  margin: 20px auto 0;
  width: 465px;
}

/*
#galleryphoto li {
  display: block;
  float: left;
  padding: 0;
  margin: 0 5px 10px 5px;
}
*/

.photos {
  margin: 2px;
  border: 1px;
  height: auto;
  width: auto;
  float: left;
}

.photos img {
  display: inline;
  margin: 3px;
  border: 1px;
}


@media screen and (max-width: 480px) {
  li.logo img {
    display:none;
  }

#navigation {
  font-size: 1.25em; /*20 / 16 */
  color: white;
  float: left;
  margin: 32px 0 0 0;
  height: 0px;
  }

#subnav {
  background-color: black; /* for IE */
  background-color: rgba(0,0,0,.5);
  height:80px;
  margin-bottom: 20px;
  padding: 1px;
  }

#header {
  background-color: #000000;
  height: 100px; 
  padding: 0 0 0 25px;
  margin-top: 30px;
  }

#signup {
  float: left;
  clear: right;
  margin: 20px 0 0 0;
  }

#social {
  background-color: 0;
  color: white;
  bottom: 8px;
  float: left;
  height: 25px;
  padding: 0px;
  width: 173px;
  }
}


@media screen and (min-width : 481px) and (max-width: 908px) {
  li.logo img {
    display:none;
  }

#navigation {
  font-size: 1.25em; /*20 / 16 */
  color: white;
  float: left;
  margin: 32px 0 0 0;
  height: 0px;
  }

#subnav {
  background-color: black; /* for IE */
  background-color: rgba(0,0,0,.5);
  height:80px;
  margin-bottom: 20px;
  padding: 1px;
  }

#header {
  background-color: #000000;
  height: 100px; 
  padding: 0 0 0 25px;
  margin-top: 30px;
  }

#signup {
  float: left;
  clear: right;
  }

#social {
  background-color: 0;
  color: white;
  bottom: 8px;
  float: right;
  left: 0px;
  padding: 0px;
  width: 173px;
  }
}
@media screen and (max-width: 1055px) {

} 

